<div class="card card-shadow sidebar " style="width: 22rem;">
 <div class="card-header sidebar-header">
    <div class="row">
    <div class="col">
    <h5 class="">Squad</h5>
    </div>
    <div class="col">
    <h6 class="float-right invites"><span id="invite-count"><%= invites.length%></span> Invites</h6>
    </div>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <%invites.forEach(function(invite){%>
    	<% var inviteName = invite.name.toProperCase();%>
    	<%if(inviteName.length > 30) {%>
    		<%var shortName = inviteName.substring(0, 30) + "...";%>
    		<li class="list-group-item invite-item" data-id="<%=invite.id%>">
    			<div class="col-9">
    			<%=shortName%>
    			</div>
    			<div class="col-3 invite-options-col">
	    			<i class="fa fa-check check pointer fa-2x" aria-hidden="true"></i>
	    			<i class="fa fa-times deny pointer fa-2x" aria-hidden="true"></i>
    			</div>
    		</li>
    	<%}else {%>
    		<li class="list-group-item invite-item"  data-id="<%=invite.id%>">
    			<div class="col-9">
    			<%=inviteName%>
    			</div>
    			<div class="col-3 invite-options-col">
    				<i class="fa fa-check check pointer fa-2x" aria-hidden="true"></i>
	    			<i class="fa fa-times deny pointer fa-2x" aria-hidden="true"></i>
    			</div>
    		</li>
    	<%}%>
    <%});%>
  </ul>
  <div class="card-block">
  </div>
</div>
</div>